//----------------------------------------------------------------
//	Internet Explorer 8 / Opera Mini Support
//----------------------------------------------------------------
// Change to "true" if you wish to support IE8 and Opera Mini.
$pxSupport: 			"false";  


//----------------------------------------------------------------
//	Grid
//----------------------------------------------------------------
// * Values are in pixels for the sake of ease, but everything will 
//   output in rem's. There will be pixel values added too, as a 
//   fallback if $pxSupport is set to 'true'.
$rowWidth: 				1200; 	// * 
$columnGutter: 			40;		// *
$totalColumns: 			12;
$defaultFloat: 			left;
$oppositeDirection: 	right;

$xsmallScreen:			0;
$smallScreen:			480;
$mediumScreen:			800;
$largeScreen: 			1000;


//----------------------------------------------------------------
//	Colors
//----------------------------------------------------------------
$titleColor: 			#333;
$bodyColor: 			#777;