// ==========================================================================
// GRID
// ==========================================================================
$rowWidth: 				74em;
$columnGutter: 			4em;
$totalColumns: 			12;
$defaultFloat: 			left;
$oppositeDirection: 	right;


// ==========================================================================
// TYPOGRAPHY
// ==========================================================================