// ==========================================================================
// GRID
// ==========================================================================
$rowWidth: 				120; 	// measurements in rem
$columnGutter: 			4;		// measurements in rem
$totalColumns: 			12;
$defaultFloat: 			left;
$oppositeDirection: 	right;