//----------------------------------------------------------------
//	Work In Progress
//----------------------------------------------------------------
h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	color: $titleColor;
}

h1, 
.alpha {
}

h2, 
.beta {
}

h3, 
.gamma {
}

h4, 
.delta {
}

h5, 
.epsilon {
}

h6, 
.zeta {
}

p,
li {
	color: $bodyColor;
}

ol,
ul {
    
    li {

    }
}

ul {

    li {

    }
}

ol {

    li {

    }
}

.bg-grey {
	background: #ccc;
}

#demo {
	
	#grid-demo {

		[class*="-only"] {
			@include fontSize(10);
			color: #000;
		}
	}
}