h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	color: $titleColor;
	font-weight: normal;
}

h1, 
.alpha {
}

h2, 
.beta {
}

h3, 
.gamma {
}

h4, 
.delta {
}

h5, 
.epsilon {
}

h6, 
.zeta {
}

p {
}

p,
li {
	color: $bodyColor;

	&.punch {

	}
}

ol,
ul {
    
    li {

    }
}

ul {

    li {

    }
}

ol {

    li {

    }
}