//----------------------------------------------------------------
//  Defaults
//----------------------------------------------------------------
//  Initialize webfonts here, if used - @include font($fontName, $fontFileName);
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


//----------------------------------------------------------------
//  Titles & Headers
//----------------------------------------------------------------
h1, 
.alpha,
%alpha {
}

h2, 
.beta,
%beta {
}

h3, 
.gamma,
%gamma {
}

h4, 
.delta,
%delta {
}

h5, 
.epsilon,
%epsilon {
}

h6, 
.zeta,
%zeta {
}


//----------------------------------------------------------------
//  General Typography
//----------------------------------------------------------------
p {
}

p,
li {
	color: $bodyColor;
}

b,
strong {
}

i,
em {
}

ol,
ul {
	
	li {
	}
}

ul {

	li {
	}
}

ol {

	li {
	}
}

// These are some less used typography elements.
// pre,
// code {
// }

// dl {
// }

// dt {
// }

// dd {
// }

// blockquote {
// }

// q {
// }

// cite {
// }