/* 
	Built with Origin by Dave J. Fox
	Twitter: 	@davejfox
	Github: 	davejfox

	Free to use, if you make something cool show me! 
*/
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { height: 100%; }

html { font-size: 62.5%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { font-size: 1.6rem; background: #fff; color: #000; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

a { background: transparent; text-decoration: none; }
a:hover { cursor: pointer; }
a:active, a:hover { outline: 0; }
a img { border: none; }

img { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }
table td, table th { padding: 0; }

svg:not(:root) { overflow: hidden; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1.4rem; }

h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta { color: #333333; }

p, li { color: #777777; }

.row { width: 100%; margin: 0 auto; max-width: 1200px; max-width: 120rem; *zoom: 1; }
.row .row { width: auto; margin: 0 -20px; margin: 0 -2rem; max-width: none; *zoom: 1; }
.row:after { content: " "; clear: both; display: block; width: 100%; height: 0; }

.columns { padding: 0 20px; padding: 0 2rem; position: relative; float: left; }
.columns:last-child { float: right; }

[class*="block-grid-"] { display: block; padding: 0; margin: 0 -20px; margin: 0 -2rem; }

[class*="block-grid-"]:before, [class*="block-grid-"]:after { content: " "; display: table; }

[class*="block-grid-"]:after { clear: both; }

[class*="block-grid-"] > li { display: block; height: auto; float: left; list-style: none; margin: 0; padding: 0 20px; padding: 0 2rem; }

@media only screen { .small-text-center { text-align: center; }
  .small-text-left { text-align: left; }
  .small-text-right { text-align: right; }
  .columns.small-centered { margin-left: auto; margin-right: auto; float: none; }
  .columns.small-uncentered { margin-left: 0; margin-right: 0; float: left; }
  .columns.small-uncentered.opposite { float: right; }
  .small-1 { width: 8.33333%; }
  .small-2 { width: 16.66667%; }
  .small-3 { width: 25%; }
  .small-4 { width: 33.33333%; }
  .small-5 { width: 41.66667%; }
  .small-6 { width: 50%; }
  .small-7 { width: 58.33333%; }
  .small-8 { width: 66.66667%; }
  .small-9 { width: 75%; }
  .small-10 { width: 83.33333%; }
  .small-11 { width: 91.66667%; }
  .small-12 { width: 100%; }
  .small-push-1 { left: 8.33333%; right: auto; }
  .small-push-2 { left: 16.66667%; right: auto; }
  .small-push-3 { left: 25%; right: auto; }
  .small-push-4 { left: 33.33333%; right: auto; }
  .small-push-5 { left: 41.66667%; right: auto; }
  .small-push-6 { left: 50%; right: auto; }
  .small-push-7 { left: 58.33333%; right: auto; }
  .small-push-8 { left: 66.66667%; right: auto; }
  .small-push-9 { left: 75%; right: auto; }
  .small-push-10 { left: 83.33333%; right: auto; }
  .small-push-11 { left: 91.66667%; right: auto; }
  .small-push-12 { left: 100%; right: auto; }
  .small-pull-1 { right: 8.33333%; left: auto; }
  .small-pull-2 { right: 16.66667%; left: auto; }
  .small-pull-3 { right: 25%; left: auto; }
  .small-pull-4 { right: 33.33333%; left: auto; }
  .small-pull-5 { right: 41.66667%; left: auto; }
  .small-pull-6 { right: 50%; left: auto; }
  .small-pull-7 { right: 58.33333%; left: auto; }
  .small-pull-8 { right: 66.66667%; left: auto; }
  .small-pull-9 { right: 75%; left: auto; }
  .small-pull-10 { right: 83.33333%; left: auto; }
  .small-pull-11 { right: 91.66667%; left: auto; }
  .small-pull-12 { right: 100%; left: auto; }
  .small-block-grid-1 > li { width: 100%; }
  .small-block-grid-1 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-1 > li:nth-of-type(1n+1) { clear: both; }
  .small-block-grid-2 > li { width: 50%; }
  .small-block-grid-2 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
  .small-block-grid-3 > li { width: 33.33333%; }
  .small-block-grid-3 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }
  .small-block-grid-4 > li { width: 25%; }
  .small-block-grid-4 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) { clear: both; }
  .small-block-grid-5 > li { width: 20%; }
  .small-block-grid-5 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) { clear: both; }
  .small-block-grid-6 > li { width: 16.66667%; }
  .small-block-grid-6 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) { clear: both; }
  .small-block-grid-7 > li { width: 14.28571%; }
  .small-block-grid-7 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) { clear: both; }
  .small-block-grid-8 > li { width: 12.5%; }
  .small-block-grid-8 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-8 > li:nth-of-type(8n+1) { clear: both; }
  .small-block-grid-9 > li { width: 11.11111%; }
  .small-block-grid-9 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-9 > li:nth-of-type(9n+1) { clear: both; }
  .small-block-grid-10 > li { width: 10%; }
  .small-block-grid-10 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-10 > li:nth-of-type(10n+1) { clear: both; }
  .small-block-grid-11 > li { width: 9.09091%; }
  .small-block-grid-11 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-11 > li:nth-of-type(11n+1) { clear: both; }
  .small-block-grid-12 > li { width: 8.33333%; }
  .small-block-grid-12 > li:nth-of-type(n) { clear: none; }
  .small-block-grid-12 > li:nth-of-type(12n+1) { clear: both; } }
@media only screen and (min-width: 481px) { .medium-text-center { text-align: center; }
  .medium-text-left { text-align: left; }
  .medium-text-right { text-align: right; }
  .columns.medium-centered { margin-left: auto; margin-right: auto; float: none; }
  .columns.medium-uncentered { margin-left: 0; margin-right: 0; float: left; }
  .columns.medium-uncentered.opposite { float: right; }
  .medium-1 { width: 8.33333%; }
  .medium-2 { width: 16.66667%; }
  .medium-3 { width: 25%; }
  .medium-4 { width: 33.33333%; }
  .medium-5 { width: 41.66667%; }
  .medium-6 { width: 50%; }
  .medium-7 { width: 58.33333%; }
  .medium-8 { width: 66.66667%; }
  .medium-9 { width: 75%; }
  .medium-10 { width: 83.33333%; }
  .medium-11 { width: 91.66667%; }
  .medium-12 { width: 100%; }
  .medium-push-1 { left: 8.33333%; right: auto; }
  .medium-push-2 { left: 16.66667%; right: auto; }
  .medium-push-3 { left: 25%; right: auto; }
  .medium-push-4 { left: 33.33333%; right: auto; }
  .medium-push-5 { left: 41.66667%; right: auto; }
  .medium-push-6 { left: 50%; right: auto; }
  .medium-push-7 { left: 58.33333%; right: auto; }
  .medium-push-8 { left: 66.66667%; right: auto; }
  .medium-push-9 { left: 75%; right: auto; }
  .medium-push-10 { left: 83.33333%; right: auto; }
  .medium-push-11 { left: 91.66667%; right: auto; }
  .medium-push-12 { left: 100%; right: auto; }
  .medium-pull-1 { right: 8.33333%; left: auto; }
  .medium-pull-2 { right: 16.66667%; left: auto; }
  .medium-pull-3 { right: 25%; left: auto; }
  .medium-pull-4 { right: 33.33333%; left: auto; }
  .medium-pull-5 { right: 41.66667%; left: auto; }
  .medium-pull-6 { right: 50%; left: auto; }
  .medium-pull-7 { right: 58.33333%; left: auto; }
  .medium-pull-8 { right: 66.66667%; left: auto; }
  .medium-pull-9 { right: 75%; left: auto; }
  .medium-pull-10 { right: 83.33333%; left: auto; }
  .medium-pull-11 { right: 91.66667%; left: auto; }
  .medium-pull-12 { right: 100%; left: auto; }
  .medium-block-grid-1 > li { width: 100%; }
  .medium-block-grid-1 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-1 > li:nth-of-type(1n+1) { clear: both; }
  .medium-block-grid-2 > li { width: 50%; }
  .medium-block-grid-2 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
  .medium-block-grid-3 > li { width: 33.33333%; }
  .medium-block-grid-3 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }
  .medium-block-grid-4 > li { width: 25%; }
  .medium-block-grid-4 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-4 > li:nth-of-type(4n+1) { clear: both; }
  .medium-block-grid-5 > li { width: 20%; }
  .medium-block-grid-5 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-5 > li:nth-of-type(5n+1) { clear: both; }
  .medium-block-grid-6 > li { width: 16.66667%; }
  .medium-block-grid-6 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-6 > li:nth-of-type(6n+1) { clear: both; }
  .medium-block-grid-7 > li { width: 14.28571%; }
  .medium-block-grid-7 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-7 > li:nth-of-type(7n+1) { clear: both; }
  .medium-block-grid-8 > li { width: 12.5%; }
  .medium-block-grid-8 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-8 > li:nth-of-type(8n+1) { clear: both; }
  .medium-block-grid-9 > li { width: 11.11111%; }
  .medium-block-grid-9 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-9 > li:nth-of-type(9n+1) { clear: both; }
  .medium-block-grid-10 > li { width: 10%; }
  .medium-block-grid-10 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-10 > li:nth-of-type(10n+1) { clear: both; }
  .medium-block-grid-11 > li { width: 9.09091%; }
  .medium-block-grid-11 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-11 > li:nth-of-type(11n+1) { clear: both; }
  .medium-block-grid-12 > li { width: 8.33333%; }
  .medium-block-grid-12 > li:nth-of-type(n) { clear: none; }
  .medium-block-grid-12 > li:nth-of-type(12n+1) { clear: both; } }
@media only screen and (min-width: 801px) { .large-text-center { text-align: center; }
  .large-text-left { text-align: left; }
  .large-text-right { text-align: right; }
  .columns.large-centered { margin-left: auto; margin-right: auto; float: none; }
  .columns.large-uncentered { margin-left: 0; margin-right: 0; float: left; }
  .columns.large-uncentered.opposite { float: right; }
  .large-1 { width: 8.33333%; }
  .large-2 { width: 16.66667%; }
  .large-3 { width: 25%; }
  .large-4 { width: 33.33333%; }
  .large-5 { width: 41.66667%; }
  .large-6 { width: 50%; }
  .large-7 { width: 58.33333%; }
  .large-8 { width: 66.66667%; }
  .large-9 { width: 75%; }
  .large-10 { width: 83.33333%; }
  .large-11 { width: 91.66667%; }
  .large-12 { width: 100%; }
  .large-push-1 { left: 8.33333%; right: auto; }
  .large-push-2 { left: 16.66667%; right: auto; }
  .large-push-3 { left: 25%; right: auto; }
  .large-push-4 { left: 33.33333%; right: auto; }
  .large-push-5 { left: 41.66667%; right: auto; }
  .large-push-6 { left: 50%; right: auto; }
  .large-push-7 { left: 58.33333%; right: auto; }
  .large-push-8 { left: 66.66667%; right: auto; }
  .large-push-9 { left: 75%; right: auto; }
  .large-push-10 { left: 83.33333%; right: auto; }
  .large-push-11 { left: 91.66667%; right: auto; }
  .large-push-12 { left: 100%; right: auto; }
  .large-pull-1 { right: 8.33333%; left: auto; }
  .large-pull-2 { right: 16.66667%; left: auto; }
  .large-pull-3 { right: 25%; left: auto; }
  .large-pull-4 { right: 33.33333%; left: auto; }
  .large-pull-5 { right: 41.66667%; left: auto; }
  .large-pull-6 { right: 50%; left: auto; }
  .large-pull-7 { right: 58.33333%; left: auto; }
  .large-pull-8 { right: 66.66667%; left: auto; }
  .large-pull-9 { right: 75%; left: auto; }
  .large-pull-10 { right: 83.33333%; left: auto; }
  .large-pull-11 { right: 91.66667%; left: auto; }
  .large-pull-12 { right: 100%; left: auto; }
  .large-block-grid-1 > li { width: 100%; }
  .large-block-grid-1 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-1 > li:nth-of-type(1n+1) { clear: both; }
  .large-block-grid-2 > li { width: 50%; }
  .large-block-grid-2 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
  .large-block-grid-3 > li { width: 33.33333%; }
  .large-block-grid-3 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }
  .large-block-grid-4 > li { width: 25%; }
  .large-block-grid-4 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-4 > li:nth-of-type(4n+1) { clear: both; }
  .large-block-grid-5 > li { width: 20%; }
  .large-block-grid-5 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-5 > li:nth-of-type(5n+1) { clear: both; }
  .large-block-grid-6 > li { width: 16.66667%; }
  .large-block-grid-6 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-6 > li:nth-of-type(6n+1) { clear: both; }
  .large-block-grid-7 > li { width: 14.28571%; }
  .large-block-grid-7 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-7 > li:nth-of-type(7n+1) { clear: both; }
  .large-block-grid-8 > li { width: 12.5%; }
  .large-block-grid-8 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-8 > li:nth-of-type(8n+1) { clear: both; }
  .large-block-grid-9 > li { width: 11.11111%; }
  .large-block-grid-9 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-9 > li:nth-of-type(9n+1) { clear: both; }
  .large-block-grid-10 > li { width: 10%; }
  .large-block-grid-10 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-10 > li:nth-of-type(10n+1) { clear: both; }
  .large-block-grid-11 > li { width: 9.09091%; }
  .large-block-grid-11 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-11 > li:nth-of-type(11n+1) { clear: both; }
  .large-block-grid-12 > li { width: 8.33333%; }
  .large-block-grid-12 > li:nth-of-type(n) { clear: none; }
  .large-block-grid-12 > li:nth-of-type(12n+1) { clear: both; } }
.clearfix:after { content: ""; width: 100%; height: 0; display: block; clear: both; }

.circle { -webkit-background-clip: padding-box; -moz-background-clip: padding-box; -ms-background-clip: padding-box; background-clip: padding-box; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; overflow: hidden; }

.has-shadow { box-shadow: 0 2px 3px #ccc; box-shadow: 0 0.2rem 0.3rem #ccc; }

a { outline: none; }

iframe, object, embed { max-width: 100%; }

.overflow-hidden { overflow: hidden; }

.fl { float: left; }

.fr { float: right; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.v-wrapper { display: table; height: 100%; width: 100%; }
.v-wrapper .v-inner { display: table-cell; height: 100%; vertical-align: middle; }

.has-radius { -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; }

.bg-white { background: white; }

.bg-black { background: black; }
.bg-black * { color: white; }

[class*="border-"] { border: 0.1rem solid transparent; }

[class*="top-border"] { border-top: 0.1rem solid transparent; border-bottom: 0; border-left: 0; border-right: 0; }

[class*="bottom-border"] { border-bottom: 0.1rem solid transparent; border-top: 0; border-left: 0; border-right: 0; }

[class*="left-border"] { border-left: 0.1rem solid transparent; border-top: 0; border-bottom: 0; border-right: 0; }

[class*="right-border"] { border-right: 0.1rem solid transparent; border-top: 0; border-bottom: 0; border-left: 0; }

[class*="thick-"] { border-width: 0.2rem; }

[class*="xthick-"] { border-width: 0.4rem; }

[class*="border-white"] { border-color: #fff; }

::-webkit-input-placeholder { opacity: 1; }

:-moz-placeholder { opacity: 1; }

::-moz-placeholder { opacity: 1; }

:-ms-input-placeholder { opacity: 1; }

[placeholder]:-ms-input-placeholder { opacity: 1; }

table.has-rows tr:nth-of-type(2n) { background: #fafafa; }

h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta { color: #333333; }

p, li { color: #777777; }

.bg-grey { background: #ccc; }

#demo #grid-demo [class*="-only"] { font-size: 1rem; color: #000; }
